In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv("../ScrapedReviews/Review_Data.csv")

In [4]:
df1 = df1.drop("Unnamed: 0",axis = 1)
df1.head()

,title,rating,content
0,iPhone XR to iPhone 15,5,Just made the transition and here’s my POV on ...
1,Iphone from Apple as usual top in quality and ...,5,First of it looks very very prime quality and ...
2,iPhone 15 A solid upgrade and value for money,5,Design\nOne of the most noticeable changes to ...
3,Good one,4,After so many follow ups finally received a pr...
4,The BEST iPhone EVERRRRRRR! : iPhone 15 review...,5,"The display is impressively bright, despite th..."

In [8]:
print(df1)

                                                title  rating  \
0                              iPhone XR to iPhone 15       5
1   Iphone from Apple as usual top in quality and ...       5
2       iPhone 15 A solid upgrade and value for money       5
3                                            Good one       4
4   The BEST iPhone EVERRRRRRR! : iPhone 15 review...       5
..                                                ...     ...
95                                    Excellent phone       5
96                     Got a brand new phone loved ir       5
97                                    Geniune product       5
98                                               Nice       5
99                                             Worthy       5

                                              content
0   Just made the transition and here’s my POV on ...
1   First of it looks very very prime quality and ...
2   Design\nOne of the most noticeable changes to ...
3   After so many follow ups finally received a pr...
4   The display is impressively bright, despite th...
..                                                ...
95                                    Excellent phone
96  Ordered iphone today. Loved the Amazon service...
97  There are pros and cons to this model, but i a...
98                                         A1 product
99  Dianamic island makes this phone special than ...

[100 rows x 3 columns]